/* Desktop First */
main{
    height: calc(100% - 17rem);
}

main section{
    position: relative;
    font-weight: 300;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    clip-path: circle(0 at 10% 40%);
    background-position: center;
    background-size: cover;
    padding: 4rem 6%;
    transition: all 0.1s ease-in;
    /* border: 3px solid red; */
    overflow-y: auto;
}

main.no-video section{
    color: #111;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('../../resources/images/julian-schultz-JP_nc0jEakE-unsplash.jpg'); */
    background-color: rgb(255, 255, 255);
}

main section > *{
    margin: auto 0;
    /* border: 3px solid green; */
}

main section.active{
    clip-path: circle(100% at 50% 40%);
}

main section h1, main section h4{
    line-height: 1.5;
}

main section h1{
    letter-spacing: 2px;
    font-size: 48px;
    margin: 0;
    margin-bottom: 0.5rem;
}

main section h4{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

main section button, main section .btn{
    margin: 0 3px;
    margin-top: 2rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    background-color: var(--nav-primary-color);
    padding: 1.6rem 4.8rem;
    box-shadow: 3px 5px 8px 1px rgba(206, 0, 0, 0.3);
    transition: transform 100ms linear, box-shadow 100ms linear;
}

main section .back-button-style{
    color: #555;
    background-color: transparent;
    margin: 0;
    box-shadow: none;
    padding: 0;
    color: black;
}

main section button:hover, main section .btn:hover{
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.2);
}

main .iframe-wrapper{
    padding: 1rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 1.5rem 0;
    background-color: #fafafb;
}

main .virtual-tour-iframe{
    width: 100%;
    max-width: 900px;
    height: 350px;
    border-radius: 10px;
    display: block;
    border: none;
    margin: 1rem auto;
}

main .destination-container, main .market-container{
    padding: 1rem 0;
    margin-top: 2rem;
}

main .destination-container{
    max-width: calc(100% - 4rem);
    overflow: auto;
}

main .destination-details-section-inner{
    /* border: 3px solid red; */
    align-items: center;
    overflow: auto;
}

main .destination-details-section-inner > *{
    max-width: calc(100% - 1rem);
}

main .destination-details-section-inner img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    margin: 1rem 0 1.5rem;
}

main .market-container{
    flex-wrap: wrap;
    max-width: 100%;
    overflow: auto;
}

main .guide-profile{
    
}

main .guide-profile .cover-picture{
    position: relative;
    width: 100%;
    min-height: 250px;
    background-color: #555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("../../resources/images/scene2.png");
}

main .guide-profile .profile-picture{
    position: absolute;
    bottom: -50px;
    left: 2rem;
}

/* For PC Users Only */
@media only screen and (min-width:801px){
}
  
/* For Mobile Users Only */
@media only screen and (max-width:800px){
    main{
        min-height: calc(100% - 17rem);
        height: auto;
    }
    main section {
        justify-content: flex-start !important;
    }

    main section > *{
        height: auto;
        min-height: 500px;
    }

    main section h1, main section h4{
        line-height: 1.3;
    }

    main section h1{
        letter-spacing: 2px;
        font-size: calc(29px + 0.5vw);
    }
    
    main section h4{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 0.8rem;
    }

    main .market-container{
        max-width: calc(100% - 2rem);
    }
}


