
main .destination{
    flex: none;
    background-color: #111;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    margin: 0 1.5%;
}

main .destination img{
    width: 100%;
    height: 140px;
    background-color: #fcfcfc;
    object-fit: cover;
    object-position: center;
}

main .destination .content{
    padding: 2.2rem 3rem 2rem;
    height: 100%;
}

main .destination .description{
    font-size: 14px;
    text-align: left;
    margin: 0 0 2rem;
}

main .destination .button-container{
    justify-content: space-around;
    margin-top: auto;
}

main .destination .button-container > *{
    margin: 0 2px;
    width: 50%;
    max-width: 110px;
}

/* For Mobile Users Only */
@media only screen and (max-width:800px){
    main .destination{
        max-width: 400px;
        width: calc(100% - 3rem);
        margin: 0 1.5rem;
    }
}